@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" />
    <img src="~/Content/hotdogelogo.png" class="img-responsive pull-right" />
    <h1>Hot Doge</h1>    
    <p class="lead">Hot Doge is a bootstrapped Visual Studio 2013 solution to help you build great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Such Features</h2>
        <ul>
            <li> MVC5 website</li>
            <li>
                Business and persistence layers
            </li>
            <li>
                Microsoft Identity framework
            </li>
            <li>
                Entity Framework 6 Code First
            </li>
            <li>
                Generic Repository
            </li>
            <li>
                Unit of Work
            </li>
            <li>
                Dependancy injection with Unity
            </li>
            <li>
                Error logging with ELMAH
            </li>
            <li>
                Demo "TestEntity" entity with associated repository, business service, controller and view
            </li>
            <li>
                Demo unit tests of TestEntityRepository and TestEntityService
            </li>
            <li> Battle tested for Azure deployments</li>
        </ul>        
    </div>
    <div class="col-md-4">
        <h2>Very Use</h2>
        <ul>
            <li>Add new entities to the entities project and deploy the database using code first migrations.</li>
            <li>Create new repositories to manipulate those entities.</li>
            <li>Create high level business services to bring added value to your application.</li>
            <li>Add new controllers and views to the mvc project to allow the user to interact with your app.</p>
            <li>Check out the "TestEntity" demo entity with associated repository, business service, controller and view to see how things are done.</p>
            <li>Read the README.txt file and the comments in the code base to learn how it works.</p>        
        </ul>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting. Wow</h2>
        <p>Hosting on Windows Azure is easy. To deploy on Windows Azure, follow <a href="http://www.windowsazure.com/en-us/develop/net/tutorials/web-site-with-sql-database/">this tutorial</a></p>
        <p><a class="btn btn-default" href="http://www.windowsazure.com/en-us/develop/net/tutorials/web-site-with-sql-database/">Learn more &raquo;</a></p>
    </div>
</div>